Bank/App_WebReferences/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55274/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55274/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55274/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomerService" />
      <xsd:import schemaLocation="http://localhost:55274/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_addCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSpecificCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_getSpecificCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:addLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_addLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:addLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showAll_InputMessage">
    <wsdl:part name="parameters" element="tns:showAll" />
  </wsdl:message>
  <wsdl:message name="IService1_showAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:showAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addCustomer" message="tns:IService1_addCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addCustomerResponse" message="tns:IService1_addCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecificCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSpecificCustomer" message="tns:IService1_getSpecificCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSpecificCustomerResponse" message="tns:IService1_getSpecificCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteCustomer" message="tns:IService1_deleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteCustomerResponse" message="tns:IService1_deleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateCustomer" message="tns:IService1_updateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateCustomerResponse" message="tns:IService1_updateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addLogin" message="tns:IService1_addLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addLoginResponse" message="tns:IService1_addLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showAll" message="tns:IService1_showAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showAllResponse" message="tns:IService1_showAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateUserId" message="tns:IService1_updateUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateUserIdResponse" message="tns:IService1_updateUserId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/addCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecificCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/getSpecificCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/updateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/addLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAll">
      <soap:operation soapAction="http://tempuri.org/IService1/showAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/updateUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55274/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>